<div class="row">
  <div class="twelve columns">

    <%= image_tag @product.photo.url, :style => 'width: 300px;' %><br />

    <%= @product.name %><br /><br />

    List Price: <%= @product.list_price %><br /><br />
    Price: <%= @product.price %><br /><br />
    Brand: <%= @product.brand %><br /><br />
    Color: <%= @product.color %><br /><br />
    Size: <%= @product.size %><br /><br />
    Warranty: <%= @product.warranty %><br /><br />
    Description: <%= @product.description %><br /><br />
    Features: <br />
    <ul>
      <% @product.features.each do |feature| %>
        <li><%= feature.content %></li>
      <% end %>
    </ul>
  </div>
</div>
